<h1 class="static-titles">What We're All About</h1>
	<p><strong>This app is filled with delicious treats that can be purchased for a reasonable price.  Buy some for a loved one, or hoard them all for yourself!</strong></p>
