<h1>StaticPages#contact</h1>
	<div id="name">
    <h3>Ryan Patterson, Baker</h3>
  </div>
  <div class="contact">
          <p id="questions">Please contact me with questions or thoughts about our products.</p>
          <p id="email">E-mail: Ryan_Patterson@yahoo.com</p>
          <p id="phone">Phone: (608) 234-0676</p>
          <p>5800 81st St. Kenosha, WI 53142 USA</p>
        </div>

