
<h1>StaticPages#index</h1>
	<p>Welcome! The date and time is <%= Time.now %></p>
<h1>Ryan's Gourmet Treats</h1>
	<%= image_tag("cashew_cookie.png", alt: "Cashew Cookie", class: "img-responsive cashew_cookie") %>
