<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
			 <tr>
			  <td align="center" bgcolor="#007399" style="padding: 40px 0 30px 0;">
			   <%= image_tag("thank_you.jpg", alt: "Thank You", class: "img-responsive thank_you") %>
			  </td>
			 </tr>
			 <tr>
			  <td align="center" style="padding: 30px 0 30px 0">
			   <table border="1" cellpadding="0" cellspacing="0" width="100%">
					 <tr>
					  <td>
					   We appreciate your e-mail!
					  </td>
					 </tr>
					 <tr>
					  <td style="padding: 20px 0 30px 0;">
					   Thank you for sending an e-mail to our team.  We will look at your questions or comments and reach back out to you within 2 business days.  Thank you for your patience!
					  </td>
					 </tr>
					</table>
			  </td>
			 </tr>
			 <tr>
			  <td bgcolor="#ff5050">
			   <table border="1" cellpadding="0" cellspacing="0" width="100%">
				 <tr>
				  <td>
				   Ryan's Gourmet Treats&reg, 2016
				  </td>
				  <td align="right">
					 <table border="0" cellpadding="0" cellspacing="0">
					  <tr>
					   <td>
					    <%= link_to image_tag('http://tekloaded.com/Social/twitter.png'), "http://www.twitter.com", alt: "Twitter" %>
					   </td>
					   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
					   <td>
					    <%= link_to image_tag('http://www.themeparktourist.com/images/facebook-icon-small.png'), "http://www.facebook.com", alt: "Facebook" %>
					   </td>
					  </tr>
					 </table>
					</td>
				 </tr>
				</table>
			  </td>
			 </tr>
			</table>
		</td>
	</tr>
</table>
	