// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
thead th {
	border: 2px solid black;
	padding: 10px;
	font-family: 'Wendy One', sans-serif;
	font-size: 2.0em;
	background-color: #ff5050;
	color: #007399;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

tr td {
	border: 1px solid black;
}

@media (max-width: 990px) {
		.container #treats {
			text-align: center;
			h1 {
				height: 20px;
			}
			p {
			margin-bottom: 10px;
			}
		} 
	}

#treats {
	margin-top: 30px;
	h1 {
		height: 130px;
	}
	img {
		height: 200px;
		width: 250px;
		margin: 0 auto;
		border: 1px solid black;
	}
 	strong {
		top: 0;
		margin-left: 30px;
		margin-bottom: 20px;
	}
}

.form-control {
	width: 50%;
	border: 1px solid #007399;
	color: black;
	background-color: #ff5050;
}

.field label {
	font-family: 'Wendy One', sans-serif;
	font-size: 1.5em;
	color: black;
}

.show {
	font-family: 'Wendy One', sans-serif;
	font-size: 1.5em;
	color: black;
}

.actions input {
	background-color: #007399;
	color: black;
}