<h1 id= "products-title">Products</h1>
<% cache(cache_key_for_products) do %>
  <table>
    <tbody>
      <div class="container">
          <div class="row">
            <% @products.each do |product| %>
              <%= render partial: 'product', locals: { product: product } %>
            <% end %>
          </div>
        </div>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to image_tag("https://img3.stockfresh.com/files/c/chrisdorney/m/42/2905379_stock-photo-new-product.jpg", class: "img-responsive new-product"), new_product_path %>
