<p id="notice"><%= notice %></p>

<h1 class="products">Products</h1>

<table>
  <tbody>
    <div class="container">
        <div class="row">
          <% @products.each do |product| %>
            <%= render partial: 'product', locals: { product: product } %>
          <% end %>
        </div>
      </div>
  </tbody>
</table>

<br>

<%= link_to image_tag("http://www.apdigitalbee.com/zhfast/image/catalog/icon/new-product-sticker.png", class: "img-responsive new-product"), new_product_path %>
